/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}


/* general */

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}


/* body */

body {
    color: #555;
    font: 0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}


/* header */

#header {
    border-bottom: 1px solid #999;
    height: 80px;
    margin: 0 auto;
    width: 751px;
}

#header h1 {
    color: #888;
    font-size: 300%;
    letter-spacing: -3px;
    text-align: right;
    padding: 5px;
    margin-bottom: -20px;
}

#header h2 {
    color: #CCC;
    font-size: 200%;
    letter-spacing: -2px;
    text-align: right;
}


/* navigation */

#navigation {
    background: #fafafa;
    border-right: 1px solid #999;
    margin: 0 auto;
    width: 750px;
    height: 40px;
    list-style: none;
}

#navigation li {
    border-left: 1px solid #999;
    float: left;
    width: 149px;
    list-style: none;
}

#navigation a {
    color: #555;
    display: block;
    line-height: 40px;
    text-align: center;
}

#navigation a:hover {
    background: #e3e3e3;
    color: #555;
}

#navigation .active {
    background: #e3e3e3;
    color: #777;
}


/* content */

#content {
    height: auto;
    margin: 0 auto;
    padding: 0 0 20px;
    width: 751px;
}

#content h1 {
    border-bottom: 1px dashed #999;
    font-size: 1.8em;
    padding: 20px 0 0;
}

#content p {
    padding: 20px 20px 0;
}


/* footer */


/* Added by Larry Ullman: */

.error,
.ad {
    font-weight: bold;
    color: #C00
}

input[type=text]:focus {
    border: 5px solid #8842d5; 
}

/*footer*/
.col_white_amrc 
{
    color:#FFF;
}
footer {
    
    width:100%;
    min-height:250px; 
    padding:10px 0px 25px 0px ;
    
}
.pt2 { 
    padding-top:40px ;
    margin-bottom:20px ;
}
footer p {
    font-size:13px; 
    padding-bottom:0px; 
    margin-bottom:8px;
}
.mb10 { 
    padding-bottom:15px ;
}
.footer_ul_amrc { 
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}
.footer_ul_amrc li {
    padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a{ 
    color:#CCC;
}
.footer_ul_amrc li a:hover{ 
    color:#fff;
     text-decoration:none;
    }
.fleft { 
    float:left;
}
.padding-right { 
    padding-right:10px; 
}

.footer_ul2_amrc {
    margin:0px;
    list-style-type:none;
    padding:0px;
}
.footer_ul2_amrc li p { 
    display:table; 
}
.footer_ul2_amrc li a:hover {
    text-decoration:none;
}
.footer_ul2_amrc li i {
    margin-top:5px;
}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

